html {
	height: 100%;
	font-size: 10px;
	font-family: 'Arial', sans-serif;
	
}

strong {
	font-weight: bold;
}

body {
	height: 100%;
}

header,
footer {
	text-align: center;
	color: #433a88;
	
}

header h1 {
	padding: 1rem;
	font-size: 3.2rem;
	font-weight: bold;
}

header h2 {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

footer h1 {
	padding: 1.5rem;
	font-size: 1.5rem;
}

/* Tools styles */
.tools {
	display: flex;
	width: 344px;
	height: 36px;
	margin: 15px auto 25px;
}

.score-item {
	height: 16px;
	width: 66px;
	margin: 3px;
	border: 1px solid #000;
  	border-radius: 5px;
	padding: 6px;
	background-color: #85a5fd;
}

.item-label {
	font-size: 1.5rem;
}

#item-moves {
	margin-left: 15px;
}

#item-rating {
	margin-left: 2px;
}

.fa-star { 
  	color: #ffa500;
}

.fa-stopwatch {
	margin-right: 2px;
}

.tool-button {
	display: block;
	margin: 3px;
	height: 30px;
	width: 80px;
	border: 1px solid #000;
  	border-radius: 5px;
	font-size: 1.6rem;
	background-color: #ff4e00; 
}

button:hover {
	background-color: #2f982f;
	color: #fff;
}

/* Cards styles */
.deck {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 344px;
	width: 344px;
	margin: auto;
}

.entire-card {
	position: relative;
	height: 76px;
	width: 76px;
	margin: 3px;
	border: 2px solid #000;
  	border-radius: 5px;
	transition: transform 0.45s;
	transform-style: preserve-3d;
}

.card {
	position: absolute;
	height: 76px;
	width: 76px;
	font-size: 4.2rem;
	background-color: #f58787;
	text-align: center;
	backface-visibility: hidden;
}

.card-front {
	transform: rotateY(180deg);
}

.card-back {
	background-color: #433a88;
}

.card-rotate {
	transform: rotateY(180deg);
}

.deck .fas {
	margin-top: 17px;
}

/* Popup styles */
.modal-box {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6); 
	z-index: 999; 
	opacity:0; 
	pointer-events: none;
}

.modal-box:target {
  	opacity:1; 
  	pointer-events: auto;
}

.modal-content {
  	position: relative;
	overflow: hidden;
	margin: 10px auto; 
	align-self: center;
	box-sizing: border-box;
  	max-width: 80%; 
	border: 2px solid #000;
  	padding: 1rem ;
	text-align: center;
  	background: #e0e0e0;
}

.modal-content h1 {
	margin-bottom: 1.5rem;
	font-size: 2.5rem;
}

.modal-content h2 {
	margin-bottom: 1.5rem;
	font-size: 2rem;
}

.modal-content p {
	margin: 0.8rem 0;
	font-size: 1.8rem;
}

.modal-content span {
	font-size: 2rem;
}

.modal-button {
	display: block;
	margin: 1rem auto 0;
	border: 1px solid #000;
	border-radius: 2px;
	padding: 7px 15px;
	font-size: 2rem;
	background-color: #ff4e00;
}


@media screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) {
	
	.container {
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	
	.tools {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		width: auto;
		height: 150px;
	}
	
	main {
		order: 1;
	}
	
	.modal-content {
/*		width: 440px;*/
	}
}


@media screen and (min-width: 640px) {
	
}


@media screen and (min-width: 768px) {
	
	header h1 {
		padding: 1.6rem;
		font-size: 5rem;
		font-weight: bold;
	}

	header h2 {
		padding-bottom: 1.6rem;
		margin-bottom: 1.6rem;
		font-size: 1.6rem;
	}

	footer h1 {
		padding: 2.5rem;
		font-size: 2rem;
	}
	
	.tools {
		width: 520px;
		height: 52px;
	}

	.score-item {
		height: 20px;
		width: 96px;
		margin: 5px;
		border: 2px solid #000;
		border-radius: 5px;
		padding: 10px;
	}
	
	.item-label {
		font-size: 2rem;	
	}
	
	#item-moves {
		margin-left: 24px;
	} 
	
	#item-rating {
		margin-left: 8px;
	}

	#item-rating .far, #item-rating .fas { 
		color: #ffa500;
	}

	.tool-button {
		margin: 5px;
		height: 44px;
		width: 118px;
		border: 2px solid #000;
		border-radius: 5px;
		font-size: 2rem;
		background-color: #ff4e00; 
	}
	
	.deck {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 520px;
		width: 520px;
		margin: auto;
	}

	.entire-card {
		height: 114px;
		width: 114px;
		margin: 5px;
		border: 3px solid #000;
		border-radius: 5px;
	}

	.card {
		height: 114px;
		width: 114px;
		font-size: 6.4rem;
	}
	
	.deck .fas {
		margin-top: 25px;
	}
	
	.modal-content {
		padding: 2rem;
/*		width: 540px;*/
/*		height: 540px;*/

	}
	
	.modal-content h1 {
		margin-bottom: 2rem;
		font-size: 3rem;
	}

	.modal-content h2 {
		margin-bottom: 2rem;
		font-size: 2.5rem;
	}

	.modal-content p {
		margin-bottom: 1rem ;
		font-size: 2rem;
	}
	
	.modal-button {
		margin: 1.5rem auto 0;
		font-size: 2.5rem;
	}
}


@media screen and (min-width: 1024px) {
	

}

@media screen and (min-width: 1100px) {
	
}
