html {
	height: 100%;
	font-size: 16px;
	font-family: 'Arial', sans-serif;
	
}

body {
	height: 100%;
}

/* Tools styles */
.tools {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 600px;
	margin: auto;
}

.score-item {
	height: 30px;
	width: 120px;
	margin: 5px;
	background-color: #85a5fd;
}

#item-rating .far, #item-rating .fas { 
  	color: #ffa500;
}

#restart > i {
	padding: 2px 15px;
	margin: 5px auto;
}




/* Cards styles */
.deck {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 600px;
	max-width: 600px;
	margin: auto;
}

.entire-card {
	position: relative;
	height: 120px;
	width: 120px;
	margin: 5px;
	transition: transform 0.45s;
	transform-style: preserve-3d;
/*	background-color: orange;   change this*/
}

.card {
	position: absolute;
	height: 120px;
	width: 120px;
	font-size: 4rem;
	background-color: #f58787;
	text-align: center;
	vertical-align: middle;
	backface-visibility: hidden;
}

.card-front {
	margin: 0;
	transform: rotateY(180deg);
}

.card-back {
	background-color: #433a88;
}

.card-rotate {
	transform: rotateY(180deg);
}

.deck .fas {
	margin-top: 30px;
}

/* Popup styles */

.modal-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6); 
  z-index: 999; 
  opacity:0; 
  pointer-events: none;
}

.modal-box:target {
  opacity:1; 
  pointer-events: auto;
}

.modal-box > div {
  width: 400px; 
  position: relative;
  margin: 10% auto; 
  padding: 10px;
  background: #fff;
}

@media screen and (min-width: 640px) {

}


@media screen and (min-width: 768px) {

}


@media screen and (min-width: 1024px) {
	
}

@media screen and (min-width: 1100px) {
	
}
